{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["replace-identifiers", {
      "window": "(typeof self !== 'undefined' ? self : this)"
    }]
  ]
}
