{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    ["replace-identifiers", {
      "window": "(typeof self !== 'undefined' ? self : this)"
    }]
  ]
}
